<ifModule mod_expires.c>
     ExpiresActive On

     #кэшировать флэш и изображения на одну неделю
     ExpiresByType image/x-icon "access plus 7 days"
     ExpiresByType image/vnd.microsoft.icon "access plus 7 days"
     ExpiresByType image/jpeg "access plus 7 days"
     ExpiresByType image/png "access plus 7 days"
     ExpiresByType image/svg+xml "access plus 7 days"
     ExpiresByType image/gif "access plus 7 days"
     ExpiresByType application/x-shockwave-flash "access plus 7 days"

     #кэшировать css, javascript и текстовые файлы на одну неделю
     ExpiresByType text/css "access plus 7 days"
     ExpiresByType text/javascript "access plus 7 days"
     ExpiresByType application/javascript "access plus 7 days"
     ExpiresByType application/x-javascript "access plus 7 days"

     #кэшировать html и htm файлы на один день
     ExpiresByType text/html "access plus 1 day"

     #кэшировать xml файлы на десять минут
     ExpiresByType application/xhtml+xml "access plus 10 minutes"
</ifModule>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
       Options -MultiViews
    </IfModule>

RewriteEngine On

Redirect /old-blog/gamenews/izvestny-podrobnosti-o-far-cry-6-000939 /izvestny-podrobnosti-o-far-cry-6/000049
Redirect /gamenews/izvestny-podrobnosti-o-far-cry-6-000939 /izvestny-podrobnosti-o-far-cry-6/000049

Redirect /csgo/besplatnye-skiny-csgo-kak-i-gde-ih-poluchit-ks-go-daryu-i-razygryvayu-skiny-000203 /besplatnye-skiny-csgo-kak-i-gde-ih-poluchit-ks-go-daryu-i-razygryvayu-skiny/000019
Redirect /old-blog/csgo/besplatnye-skiny-csgo-kak-i-gde-ih-poluchit-ks-go-daryu-i-razygryvayu-skiny-000203 /besplatnye-skiny-csgo-kak-i-gde-ih-poluchit-ks-go-daryu-i-razygryvayu-skiny/000019

Redirect /csgo/kak-stat-bogom-awp-v-igre-csgo-ili-5-fishek-kotorye-sdelayut-vas-snaiperom-000289 /kak-stat-bogom-awp-v-igre-csgo-ili-5-fishek-kotorye-sdelayut-vas-snaiperom/000025
Redirect /old-blog/csgo/kak-stat-bogom-awp-v-igre-csgo-ili-5-fishek-kotorye-sdelayut-vas-snaiperom-000289 /kak-stat-bogom-awp-v-igre-csgo-ili-5-fishek-kotorye-sdelayut-vas-snaiperom/000025

Redirect /internet/vkontakte-moya-stranica-zaiti-srazu-na-stranicu-000749 /vkontakte-moya-stranica-zaiti-srazu-na-stranicu/000045
Redirect /old-blog/internet/vkontakte-moya-stranica-zaiti-srazu-na-stranicu-000749 /vkontakte-moya-stranica-zaiti-srazu-na-stranicu/000045

Redirect /csgo/glavnye-oshibki-novichkov-v-ks-go-000179 /glavnye-oshibki-novichkov-v-ks-go/000018
Redirect /old-blog/csgo/glavnye-oshibki-novichkov-v-ks-go-000179 /glavnye-oshibki-novichkov-v-ks-go/000018

Redirect /csgo/skiny-nozhei-ks-go-besplatno-kak-poluchit-skiny-cs-go-besplatno-000271 /skiny-nozhei-ks-go-besplatno-kak-poluchit-skiny-cs-go-besplatno/000022
Redirect /old-blog/csgo/skiny-nozhei-ks-go-besplatno-kak-poluchit-skiny-cs-go-besplatno-000271 /skiny-nozhei-ks-go-besplatno-kak-poluchit-skiny-cs-go-besplatno/000022

Redirect /csgo/besplatnyi-skin-pistoleta-cs-go-desert-eagle-rzhavyi-kobalt-digl-dlya-podpischikov-000686 /besplatnyi-skin-pistoleta-cs-go-desert-eagle-rzhavyi-kobalt-digl-dlya-podpischikov/000042
Redirect /old-blog/csgo/besplatnyi-skin-pistoleta-cs-go-desert-eagle-rzhavyi-kobalt-digl-dlya-podpischikov-000686 /besplatnyi-skin-pistoleta-cs-go-desert-eagle-rzhavyi-kobalt-digl-dlya-podpischikov/000042

Redirect /gamenews/sega-besplatno-vypystila-svoi-klassicheskie-igry-dlia-ios-i-android-000337 /sega-besplatno-vypystila-svoi-klassicheskie-igry-dlia-ios-i-android/000031
Redirect /old-blog/gamenews/sega-besplatno-vypystila-svoi-klassicheskie-igry-dlia-ios-i-android-000337 /sega-besplatno-vypystila-svoi-klassicheskie-igry-dlia-ios-i-android/000031

    RewriteRule ^(.*)$ public/$1
</IfModule>

Order Allow,Deny
Allow from all
Deny from 5.227.15.222
Deny from 31.43.113.215
Deny from 31.173.0.0/18
Deny from 31.173.80.0/21
Deny from 62.118.139.74
Deny from 78.81.129.214
Deny from 85.140.23.62
Deny from 91.193.176.0/24
Deny from 91.193.177.0/24
Deny from 91.193.178.0/24
Deny from 91.193.179.0/24
Deny from 176.59.48.0/24
Deny from 176.59.50.0/24
Deny from 176.59.64.0/24
Deny from 178.176.96.0/19
Deny from 197.43.58.237
Deny from 213.87.86.0/24
Deny from 213.87.136.0/24
Deny from 213.87.137.0/24
Deny from 213.87.158.0/24
Deny from 213.87.160.0/24
