



<IfModule mod_rewrite.c>
<IfModule mod_negotiation.c>
   Options -MultiViews
</IfModule>

RewriteEngine On

Redirect /old-blog/gamenews/izvestny-podrobnosti-o-far-cry-6-000939 https://qukenon.ru/izvestny-podrobnosti-o-far-cry-6
Redirect /old-blog/csgo/kak-stat-bogom-awp-v-igre-csgo-ili-5-fishek-kotorye-sdelayut-vas-snaiperom-000289 https://qukenon.ru/kak-stat-bogom-awp-v-igre-csgo-ili-5-fishek-kotorye-sdelayut-vas-snaiperom
RewriteRule ^.*(/gamenews/.*)$ https://qukenon.ru/old\-blog/$1 [L,R=301]
RewriteRule ^.*(/minecraft/.*)$ https://qukenon.ru/old\-blog/$1 [L,R=301]
RewriteRule ^.*(/csgo/.*)$ https://qukenon.ru/old\-blog/$1 [L,R=301]
RewriteRule ^.*(/gta-5/.*)$ https://qukenon.ru/old\-blog/$1 [L,R=301]
RewriteRule ^.*(/other-games/.*)$ https://qukenon.ru/old\-blog/$1 [L,R=301]
RewriteRule ^.*(/internet/.*)$ https://qukenon.ru/old\-blog/$1 [L,R=301]


RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ ^$1 [N]

RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
RewriteRule ^(.*)$ public/$1

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php
</IfModule>

