@use "variables" as *;
html, body {
    height: 100%;
}

html {
    overflow-y: hidden;
}

body {
    overflow-y: scroll;
    font-family: "Open Sans", sans-serif;
    background-color: $dark-deep;

    color: $secondary;
    font-size: $size-double;


}

.bg-image {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg/bg-lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .07;
    z-index: -1;

}

.container {
    margin: 0 auto;
    width: calc(100% - 1rem);
    max-width: $max-width;

}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;

    .to-top-button {
        opacity: 0;
        position: fixed;
        bottom: $size;
        width: 100%;
        max-width: $max-width;
        transform: translateY(50px);
        transition: .3s;

        &.show {
            opacity: 1;
            transform: translateY(0);
        }

        img {
            position: relative;
            left: 101%;
            transform: translateX(0);
            transition: .3s;
        }

        &:hover img {
            opacity: .6;
        }
    }
}

.mobile-menu-button, .close-mobile-menu {
    display: none;
}


a {
    color: $purple;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: $aqua;
        text-shadow: 0 0 10px;
    }
}


a, a:hover, a:focus {
    text-decoration: none;
}


p {
    padding: 1rem 0;
}

ul li, ol li {
    margin: $size-double 0 $size-double $size-double;

}


h1:not(.subtitle):not(.title), h2:not(.subtitle):not(.title) {
    background-color: $dark-light;
    padding: $size-double;
}

h3, h4, h5, h6 {
    padding: $size;
}

h1, .title {
    font-size: $size * 4;
}

h2, .subtitle {
    font-size: $size * 3.2;
}

h3 {
    font-size: $size * 2.6;
}

h4 {
    font-size: $size * 2.3;
}



