html, body {
    height: 100%;
}

body {
    overflow-y: scroll;
    font-family: "Open Sans", sans-serif;
    background-color: $deep-dark;

    color: $secondary;
    font-size: $size;

}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}



a, p, div {
    font-size: 1.2rem;
}

a {
    color: $secondary;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: $purple-light;
    }
}


a, a:hover, a:focus {
    text-decoration: none;
}


p {
    color: $secondary;
    padding: 1rem 0;
}


h1 {
    font-size: $size * 6;
}

h2 {
    font-size: $size * 4.8;
}

h3 {
    font-size: $size * 3.4;
}

h4 {
    font-size: $size * 2.8;
}



