body {
    overflow-y: scroll;
    font-family: "Open Sans", sans-serif;
    background-color: $deep-dark;

    color: $secondary;
    font-size: $size;

}

a, p {
    font-size: 1.2rem;
}

a {
    color: $primary;
    cursor: pointer;
    transition: .3s;
}

a:hover {
    color: $purple-light;
}

a, a:hover, a:focus {
    text-decoration: none;
}



p {
    color: $secondary;
}



h1 {
    font-size: $size * 6;
}

h2 {
    font-size: $size * 4.8;
}

h3 {
    font-size: $size * 3.4;
}

h4 {
    font-size: $size * 2.8;
}



