footer {
    min-height: 300px;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-gap: $size;

        position: relative;
        padding: $size-double;

        height: 100%;
        background-color: $dark-light;

        > div {

            > div {
                padding: $size 0;
            }
        }

        //&::before {
        //    content: '';
        //    position: absolute;
        //    left: -200px;
        //    top: 0;
        //    width: 200px;
        //    height: 100%;
        //    background: linear-gradient(90deg, rgba(255, 255, 255, 0), $dark-light);
        //}


    }
}
