@use "variables" as *;
footer {
    min-height: 300px;

    .container {
        padding: $size-double;
        min-height: 100%;

        background-color: $dark-light;

        .widgets {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
            grid-gap: $size;

            position: relative;
            min-height: 200px;


            > div {

                > div {
                    padding: $size 0;
                }
            }
        }

        .copyrights {
            font-size: $size * 1.3;
        }


    }
}
