@use "variables" as *;
//Top Bar
.top-bar {

    .parts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem 0;
    }

    .left {
        padding: 0 1rem;
    }


    .left, .right {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        & > a {
            margin-right: 1rem;
        }


    }

    .right {
        justify-content: flex-end;
    }


}

//Main Bar
.main-bar {
    display: flex;

    .container {
        transition: .3s;
    }


    .parts {
        clip-path: polygon(1.5rem 0, 100% 0, 100% 100%, 0 100%);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(88deg, $dark-light, transparent);

        > * {
            padding: 0 1.2rem;
        }


    }

    .logo {
        color: #ffffff;
        font-size: $size-triple;
        font-weight: 600;
        padding-left: 1.5rem;

        max-height: $header-height;

        img {
            height: $header-height;
        }
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        line-height: $header-height;
        flex: 1;
        align-items: center;
        text-align: center;

        .more-categories {

            a {
                display: flex;

                span {
                    flex: 2;
                    border: none;
                }

                img {
                    max-width: $size-double;
                }
            }
        }

        > div {
            height: 100%;
            transition: .3s;
            padding: 0 $size;
        }

        a {
            display: block;
            position: relative;
            text-transform: uppercase;
            font-size: $size *1.6;

            span {
                //border-bottom: 1px solid $red;
            }

        }

        > div:hover {
            background-color: $purple;
            cursor: pointer;


        }

        > div:hover a {
            color: white;
            transform: translateY(-3px);
        }


    }


}


@media screen and (max-width: 768px) {
    .main-bar {

        .container {
            width: 100%;
        }

        .parts {
            clip-path: unset;
        }
    }


}

