@use "variables" as *;
@media screen and (max-width: 768px) {
    .post {

        article {
            padding-left: $size;
            border-left: 1px solid $red;

            .adv-ads {
                float: unset;
                text-align: center;
                margin-right: 0;
            }
        }

        section.vk-comments-form {
            #vk_comments {
                max-width: unset;
            }
        }


        .thumbnail.thumbnail-float {
            margin-left: $size !important;
        }

        .title {
            font-size: $size-double;
        }


    }

}


@media screen and (max-width: 630px) {

    .post {


        article {
            .adv-ads-after-article {
                display: none;
            }

            .adv-ads-after-article-for-mobile {
                display: block;
                text-align: center;
                max-width: 100%;
            }
        }


    }
}




