@use "variables" as *;
//Posts list - category
.post-media-list {
    .title {
        font-size: $size * 3;
    }

    .media {
        margin: 3rem 0;
        transition: .3s;

        &.with-buttons {
            .thumbnail {
                position: relative;


                .image-overlay {
                    background-color: $dark-deep;
                    opacity: .5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                }


                .enlarge-image {
                    width: $size * 10;
                    height: $size * 10;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-60%, -50%);
                    background-size: contain;
                    background-repeat: no-repeat;
                    z-index: 1;
                    content: "";
                }

            }

        }


        &:hover:not(.with-buttons) {
            transform: translateY(-10px);
            box-shadow: 0 37px 29px -34px #37488b;
            border-radius: $size-double;

            .description {
                background-color: transparent;
            }
        }


        &:hover .read-post-button img {
            transform: rotate(90deg);
        }


    }


    .content-block {
        display: flex;
        flex-wrap: wrap;

        .content {
            display: flex;
            flex-wrap: wrap;
            margin-right: 1rem;
            flex: 1;


            .thumbnail {


                flex: 1;
                align-items: center;
                padding-right: 1rem;
                min-width: 272px;
                overflow: hidden;
                border-bottom-left-radius: $size-double;

                img {
                    transition: .3s;
                    max-width: 100%;
                }


                &:hover img {
                    opacity: .8;
                }


            }


            .description {
                flex: 3;
                display: flex;
                flex-direction: column;
                min-width: 300px;
                padding-right: 1rem;
                padding-left: 1rem;
                background: rgb(37, 47, 90);
                background: -moz-linear-gradient(90deg, rgba(37, 47, 90, 1) 0%, rgba(7, 11, 40, 1) 50%);
                background: -webkit-linear-gradient(90deg, rgba(37, 47, 90, 1) 0%, rgba(7, 11, 40, 1) 50%);
                background: linear-gradient(90deg, rgba(37, 47, 90, 1) 0%, rgba(7, 11, 40, 1) 50%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252f5a", endColorstr="#070b28", GradientType=1);


                .meta {
                    display: flex;
                    flex-wrap: wrap;
                    color: $yellow;
                    font-size: $size*1.4;
                    padding: $size/3 $size;
                    justify-content: flex-end;
                    align-self: flex-end;


                    > div {
                        margin: 0 $size;
                    }

                }


                .special-buttons {
                    margin: $size-double;

                    a {
                        margin: 0 $size-double;
                    }
                }
            }


        }

        .read-post-button {

            display: flex;


            a {

                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: $size;


                img {
                    transition: transform .3s;
                    width: $size-triple;

                }


            }
        }
    }


}
