//Post single styles
.post {


    .meta {
        display: flex;
        flex-wrap: wrap;
        color: $purple-dark;


        > div {
            flex: 1;
            text-align: center;
            margin: 0 $size;
            border-bottom: 1px solid;
        }

    }

    .description {
        color: #FFFFFF;
        margin-top: $size-double;
        padding: $size;
        -webkit-border-radius: $size;
        -moz-border-radius: $size;
        border-radius: $size;
        text-align: center;
        background-color: $violet;
    }

    .images-block, article {
        margin: $size-double 0;
    }

    .images-block {

        .thumbnail {

            transition: .3s;

            img {
                margin: 0 auto;
            }

            &.thumbnail-float {
                float: left;
                margin: $size-double;
            }

        }

        .small-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            > a {
                padding: 0 $size;
            }

        }
    }


    article {
        padding-left: $size * 5;
        border-left: $size solid $red;
        transition: .3s;
    }

    @media screen and (max-width: 768px) {
        article {
            padding-left: $size;
            border-left: 1px solid $red;
        }

        .thumbnail.thumbnail-float {
            margin-left: $size !important;
        }

    }
}

.related-posts {

    margin: $size-triple auto;

    h3 {
        margin: ($size * 5) 0 $size-double 0;
    }
}




