@use "variables" as *;
//Post single styles
@use "post-adv";

.post {


    h1, h2, h3, h4, h5, h6 {
        color: $purple;

    }

    .breadcrumbs {
        display: flex;
        flex-wrap: wrap;
        font-size: $size * 1.2;
        margin: $size-double 0;

        > * {
            padding: $size;
            margin-right: $size;
            background-color: $violet;
            color: #ffffff;

            &:hover {
                color: #ffffff;
                background-color: $pink;
                text-shadow: unset;
            }

            &.this-page {
                background-color: $secondary;
                color: $dark;
            }

        }


    }


    .meta {
        display: flex;
        flex-wrap: wrap;
        color: $purple-dark;


        > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 $size;
            border-bottom: 1px solid;
        }

    }

    .description {
        color: #FFFFFF;
        margin-top: $size-double;
        padding: $size;
        -webkit-border-radius: $size;
        -moz-border-radius: $size;
        border-radius: $size;
        text-align: center;
        background-color: $violet;
    }

    .images-block, article {
        margin: $size-double 0;
    }

    .images-block {

        &.images-block-float {
            float: right;
            margin-left: $size;
            margin-top: $size;
            margin-bottom: $size;
        }

        .thumbnail {
            margin-bottom: $size;
            transition: .3s;

            img {
                margin: 0 auto;
            }


        }

        .small-images {
            display: grid;
            grid-template-columns: repeat(auto-fit, $smallest-thumb);
            grid-gap: $size;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;


        }
    }


    #contents {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $secondary;
        border-bottom: 1px solid $secondary;
        padding-top: $size;
        padding-bottom: $size-double;
        margin-top: $size-double;
        margin-bottom: $size-double;

        .title-contents-h2 {
            margin-left: $size-double;

            a {
                &::before {
                    content: '- ';
                }
            }
        }

        .title-contents-h3 {
            margin-left: $size-double * 2;

            a {
                &::before {
                    content: '...  ';
                }
            }

        }

    }


    article {
        padding-left: $size * 5;
        border-left: $size solid $red;
        transition: .3s;
        min-height: 400px;

        .adv-ads {
            float: left;
            margin: 0 $size-double $size-double 0;
            max-width: 100%;
        }

        .adv-ads-after-article {
            text-align: center;
            max-width: 100%;
        }

        .adv-ads-after-article-for-mobile {
            display: none;
        }


    }

    section.social-buttons {
        margin: $size-double 0;
        clear: both;

        h2 {
            margin: $size-double 0;
        }


        #st-1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            > div {
                display: block !important;
                margin: $size;
            }
        }


    }

    section.vk-comments-form {

        h2 {
            margin: $size-double 0;
        }

        #vk_comments {
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            max-width: 70%;
        }
    }


}


.related-posts {

    margin: $size-triple auto;

    h2 {
        margin: ($size * 5) 0 $size-double 0;
    }
}




