@use "variables" as *;
//Posts list - category
.post-media-card {

    display: grid;
    grid-gap: $size-triple;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));

    .media {
        transition: .3s;

        &:hover {
            transform: translateY(-10px);

            .content {
                box-shadow: 0 37px 29px -34px #37488b;
            }
        }
    }

    .title {
        color: $yellow;
        font-size: $size * 1.8;
        overflow: hidden;
        min-height: 145px;

        border-left: 1px solid;
        border-top: 1px solid;

        border-top-left-radius: $size-double;
        border-top-right-radius: $size-double;

        padding-top: $size;
        padding-left: $size;
        padding-right: $size;

        &:hover {
            color: $aqua;
        }
    }




    .content {
        margin-bottom: $size-double;
        transition: .3s;


        .thumbnail {
            align-items: unset;
            padding-right: unset;
            border-top-left-radius: $size;
            border-top-right-radius: $size;
            border-bottom-left-radius: unset;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                transition: .3s;
                max-width: 100%;
            }


            &:hover img {
                opacity: .8;
            }


        }

        .description {
            display: flex;
            flex-wrap: wrap;
            padding: $size-double $size;
            border-right: 1px solid $yellow;
            border-bottom-right-radius: $size-double;
            font-size: $size * 1.7;
            min-height: 300px;
            overflow: hidden;
            background: linear-gradient(180deg, #252f5a 0%, #ffffff00 70%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252f5a", endColorstr="#070b28", GradientType=1);


            > div {
                border-left: 1px solid $yellow;

                padding-left: $size;
            }

            .meta {

                flex-direction: column;
                font-size: $size;
                margin-top: $size;
                margin-bottom: $size;

            }

            .read-more-link {
                align-self: flex-end;
                width: 100%;
                text-align: right;

                a {
                    text-align: right;
                }
            }
        }


    }

    .read-post-button {

        margin-top: $size;

        a {

            display: block;
            background-color: $yellow;

            &:hover {
                background-color: $yellow-light;

                img {
                    transform: rotate(90deg);
                }
            }


            img {
                transition: .3s;
                width: $size-triple;
                margin: 0 auto;
            }

            &.btn {
                max-width: unset;
            }


        }
    }


}
