// Body
$deep-dark: #070b28;
$dark: #0f143a;
$dark-light: rgb(37, 47, 90);


// Text Colors
$primary: #045cf0;
$secondary: #a1aed4;
$aqua: #05f3cf;
$pink: #ff1493;
$purple: #d200c7;
$purple-light: #ff00f2;
$violet: #8400ff;
$primary-active: #3c26db;
$yellow: #f0ad4e;
$red: #e82d44;
$green: #00a292;


//Size
$size: .625rem; //10px
$size-double: $size * 2; //20px
$size-triple: $size * 3; //30px

//Width
$max-width: 1140px;

