//Reset Styles
@use "reset-styles";

//Errors
@use "errors-404";

//Body
@use "body";

//Footer
@use "footer";

//Boots
@use "boots";

//Header
@use "header";

//Forms
@use "forms";

//Homepage
@use "homepage";

//Post single
@use "post";

//Categories List - list of categories
@use "categories-list";

//Posts list - category
@use "post-media-list";

//Media card style
@use "post-media-card";

//Media
@use "media-homepage";
@use "media-body";
@use "media-header";
@use "media-post";
@use "media-post-list";


// Typography Fonts
@font-face {
    font-display: swap;
    font-family: 'Open Sans', sans-serif;
    src: local('Open Sans'),
    url('./fonts/OpenSans-Regular.ttf'),
    url('./fonts/OpenSans-Light.ttf'),
    url('./fonts/OpenSans-Bold.ttf'),
    url('./fonts/OpenSans-SemiBold.ttf'),
    url('./fonts/OpenSans-ExtraBold.ttf'),
    url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
}




