@use "../variables" as *;

.container {
    .post-meta {
        display: flex;
        flex-wrap: wrap;
        padding: $size;
        align-items: center;
        border: 1px solid $secondary;
    }

    .post-title {
        color: $purple;
        font-size: $size-double;
        margin-right: $size;
    }

    form {
        .tags-list {

            .group-name {
                font-weight: bold;
                color: darkgoldenrod
            }
        }


        .tags-list #select-tag-group {
            position: absolute;
            z-index: 1;
            max-width: 280px;
        }
    }


}

.old-images, .old-files {
    display: flex;
    flex-wrap: wrap;

    .block {
        display: flex;
        flex-direction: column;
        background-color: $dark-light;
        padding: $size-double;
        margin-right: $size-double;
        margin-bottom: $size-double;

        > * {
            margin-bottom: $size;
        }

        &:hover {
            opacity: .8;
        }


        input {
            cursor: pointer;
        }

        .file-info {
            span {
                color: $yellow;
            }

        }
    }


}
