.container {
    .post-meta {
        display: flex;
        flex-wrap: wrap;
        padding: $size;
        align-items: center;
        border: 1px solid $secondary;
    }

    .post-title {
        color: $purple;
        font-size: $size-double;
        margin-right: $size;
    }
}

.old-images {
    display: flex;
    flex-wrap: wrap;

    .block {
        display: flex;
        flex-direction: column;
        background-color: $dark-light;
        padding: $size-double;
        margin-right: $size-double;
        margin-bottom: $size-double;

        > * {
            margin-bottom: $size;
        }

        &:hover {
            opacity: .6;
        }


        input {
            cursor: pointer;
        }
    }



}
