@charset "UTF-8";

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"), url(/fonts/OpenSans-Regular.ttf?3ed9575dcc488c3e3a5bd66620bdf5a4), url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
}

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 300;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  scroll-behavior: smooth;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.title,
.description,
.subtitle {
  padding: 0.3rem 0;
}

.title {
  color: #ffffff;
  text-transform: uppercase;
}

.text-row {
  padding: 0 0.625rem;
  margin: 0.625rem;
}

iframe {
  height: min(600px, 100vh);
}

table tr td,
table tr th {
  border-bottom: 1px solid;
  padding: 0.875rem 0.625rem;
}

img {
  vertical-align: middle;
}

input,
select,
textarea {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #0f143a;
  background-color: #a1aed4;
  border: 1px solid #252f5a;
  border-radius: 0.3125rem;
}

input[type=checkbox],
select[type=checkbox],
textarea[type=checkbox] {
  width: 1.875rem;
  height: 1.875rem;
}

input[type=file],
select[type=file],
textarea[type=file] {
  background-color: unset;
  border: none;
  padding-left: 0;
}

input[type=radio],
select[type=radio],
textarea[type=radio] {
  width: 1.875rem;
  height: 1.875rem;
}

select option {
  margin: 1.875rem;
  font-size: 1.6rem;
}

.input-group {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 200px 2fr;
  justify-content: space-evenly;
  align-items: center;
}

.input-group label {
  cursor: pointer;
  position: relative;
}

.input-group label.required::after {
  content: "*";
  color: #d200c7;
  position: relative;
  top: 0;
  right: -3px;
  width: 100%;
  height: auto;
}

.input-group input[type=submit] {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
  font-size: 1.25rem;
}

.input-group input[type=submit]:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.input-group input[type=submit].btn-fluid {
  max-width: unset;
}

.btn {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
}

.btn:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.btn.btn-fluid {
  max-width: unset;
}

.btn-outline {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
  background-color: unset;
  border: 1px solid #d200c7;
}

.btn-outline:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.btn-outline.btn-fluid {
  max-width: unset;
}

.link,
.link:active,
.link:focus,
.link:visited {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: unset;
  text-decoration: none;
  cursor: pointer;
  color: #045cf0;
  transition: 0.3s;
}

.link:hover,
.link:active:hover,
.link:focus:hover,
.link:visited:hover {
  color: #ff00f2;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 1.25rem 0;
}

.pagination .page-item {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
  padding: 0;
  min-width: 3.125rem;
  height: auto;
  background-color: transparent;
  border: 1px solid #252f5a;
  margin-right: 0.5rem;
}

.pagination .page-item:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.pagination .page-item.btn-fluid {
  max-width: unset;
}

.pagination .page-item a {
  color: #ffffff;
  display: block;
  padding: 0.625rem 0;
  text-align: center;
}

.pagination .page-item.active {
  background-color: #252f5a;
  padding: 0.625rem 1.25rem;
}

.pagination .page-item.disabled {
  cursor: not-allowed;
  color: #252f5a;
  padding: 0.625rem 1.25rem;
}

.pagination .page-item.disabled:hover {
  background-color: unset;
}

.red {
  color: #e82d44;
}

.green {
  color: #00a292;
}

.admin-posts-list .posts tr:nth-child(even) {
  background-color: #252f5a;
}

.container .post-meta {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem;
  align-items: center;
  border: 1px solid #a1aed4;
}

.container .post-title {
  color: #d200c7;
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.old-images {
  display: flex;
  flex-wrap: wrap;
}

.old-images .block {
  display: flex;
  flex-direction: column;
  background-color: #252f5a;
  padding: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.old-images .block > * {
  margin-bottom: 0.625rem;
}

.old-images .block:hover {
  opacity: 0.6;
}

.old-images .block input {
  cursor: pointer;
}

.notify {
  position: absolute;
  padding: 1.25rem;
  border-radius: 0.625rem;
  width: 40vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a1aed4;
  color: #0f143a;
}

.notify .response-message {
  font-size: 1.875rem;
}

.notify p {
  position: absolute;
  min-width: 280px;
  width: 100%;
  padding: 1.875rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notify .btn-outline {
  color: #0f143a;
}

.notify .action-buttons {
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
}

html,
body {
  height: 100%;
}

html {
  background-color: #a1aed4;
  font-family: "Open Sans", sans-serif;
}

body {
  color: #a1aed4;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #045cf0;
}

a:hover {
  color: #d200c7;
}

.container {
  margin: 0 1.25rem;
  max-width: unset;
}

header {
  background-color: #a1aed4;
  padding: 1rem 0;
  border-bottom: 5px solid #8400ff;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 250px 4fr;
  grid-gap: 0.625rem;
}

.wrapper .left-side,
.wrapper .right-side {
  background-color: #0f143a;
}

.wrapper .left-side {
  display: flex;
  flex-direction: column;
}

.wrapper .left-side a {
  padding: 0.625rem;
  background-color: #a1aed4;
  margin-bottom: 0.3125rem;
}

.wrapper .left-side a:hover {
  background-color: #ff00f2;
  color: #ffffff;
}


/*# sourceMappingURL=admin.css.map*/