@charset "UTF-8";

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local("Open Sans"), url(/fonts/OpenSans-Regular.ttf?3ed9575dcc488c3e3a5bd66620bdf5a4), url(/fonts/OpenSans-Light.ttf?2d0bdc8df10dee036ca3bedf6f3647c6), url(/fonts/OpenSans-Bold.ttf?1025a6e0fb0fa86f17f57cc82a6b9756), url(/fonts/OpenSans-SemiBold.ttf?ba5cde21eeea0d57ab7efefc99596cce), url(/fonts/OpenSans-ExtraBold.ttf?fb7e3a294cb07a54605a8bb27f0cd528), url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
}

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: 300;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  background-color: #070b28;
  color: #a1aed4;
  font-size: 1.25rem;
}

.bg-image {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg/bg-lines.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.07;
  z-index: -1;
}

.container {
  margin: 0 auto;
  width: calc(100% - 1rem);
  max-width: 1140px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

.mobile-menu-button,
.close-mobile-menu {
  display: none;
}

a {
  color: #d200c7;
  cursor: pointer;
  transition: 0.3s;
}

a:hover {
  color: #05f3cf;
  text-shadow: 0 0 10px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

p {
  padding: 1rem 0;
}

h1,
.title {
  font-size: 2.5rem;
}

h2,
.subtitle {
  font-size: 2rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.4375rem;
}

footer {
  min-height: 300px;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 0.625rem;
  position: relative;
  padding: 1.25rem;
  height: 100%;
  background-color: #252f5a;
}

footer .container > div > div {
  padding: 0.625rem 0;
}

.title,
.description,
.subtitle {
  padding: 0.3rem 0;
}

.title {
  color: #ffffff;
  text-transform: uppercase;
}

.text-row {
  padding: 0 0.625rem;
  margin: 0.625rem;
}

table tr td,
table tr th {
  border-bottom: 1px solid;
  padding: 0.875rem 0.625rem;
}

img {
  vertical-align: middle;
}

input,
select,
textarea {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: #0f143a;
  background-color: #a1aed4;
  border: 1px solid #252f5a;
  border-radius: 0.3125rem;
}

input[type=checkbox],
select[type=checkbox],
textarea[type=checkbox] {
  width: 1.875rem;
  height: 1.875rem;
}

input[type=file],
select[type=file],
textarea[type=file] {
  background-color: unset;
  border: none;
  padding-left: 0;
}

input[type=radio],
select[type=radio],
textarea[type=radio] {
  width: 1.875rem;
  height: 1.875rem;
}

select option {
  margin: 1.875rem;
  font-size: 1.6rem;
}

.input-group {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 200px 2fr;
  justify-content: space-evenly;
  align-items: center;
}

.input-group label {
  cursor: pointer;
  position: relative;
}

.input-group label.required::after {
  content: "*";
  color: #d200c7;
  position: relative;
  top: 0;
  right: -3px;
  width: 100%;
  height: auto;
}

.input-group input[type=submit] {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
  font-size: 1.25rem;
}

.input-group input[type=submit]:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.input-group input[type=submit].btn-fluid {
  max-width: unset;
}

.btn {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
}

.btn:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.btn.btn-fluid {
  max-width: unset;
}

.btn-outline {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
  background-color: unset;
  border: 1px solid #d200c7;
}

.btn-outline:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.btn-outline.btn-fluid {
  max-width: unset;
}

.link,
.link:active,
.link:focus,
.link:visited {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: unset;
  text-decoration: none;
  cursor: pointer;
  color: #045cf0;
  transition: 0.3s;
}

.link:hover,
.link:active:hover,
.link:focus:hover,
.link:visited:hover {
  color: #ff00f2;
}

.pagination {
  display: flex;
  margin: 1.25rem 0;
}

.pagination .page-item {
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  background-color: #d200c7;
  border-radius: 0.625rem;
  cursor: pointer;
  max-width: 15rem;
  padding: 0;
  min-width: 3.125rem;
  height: auto;
  background-color: transparent;
  border: 1px solid #252f5a;
  margin-right: 0.5rem;
}

.pagination .page-item:hover {
  color: #ffffff;
  background-color: #ff00f2;
}

.pagination .page-item.btn-fluid {
  max-width: unset;
}

.pagination .page-item a {
  color: #ffffff;
  display: block;
  padding: 0.625rem 0;
  text-align: center;
}

.pagination .page-item.active {
  background-color: #252f5a;
  padding: 0.625rem 1.25rem;
}

.pagination .page-item.disabled {
  cursor: not-allowed;
  color: #252f5a;
  padding: 0.625rem 1.25rem;
}

.pagination .page-item.disabled:hover {
  background-color: unset;
}

.red {
  color: #e82d44;
}

.green {
  color: #00a292;
}

.top-bar .parts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

.top-bar .left {
  padding: 0 1rem;
}

.top-bar .left,
.top-bar .right {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.top-bar .left > a,
.top-bar .right > a {
  margin-right: 1rem;
}

.top-bar .right {
  justify-content: flex-end;
}

.main-bar {
  display: flex;
}

.main-bar .container {
  transition: 0.3s;
}

.main-bar .parts {
  -webkit-clip-path: polygon(1.5rem 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(1.5rem 0, 100% 0, 100% 100%, 0 100%);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(88deg, #252f5a, transparent);
}

.main-bar .parts > * {
  padding: 0 1.2rem;
}

.main-bar .logo {
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 600;
  padding-left: 1.5rem;
  max-height: 60px;
}

.main-bar .logo img {
  height: 60px;
}

.main-bar .links {
  display: flex;
  flex-wrap: wrap;
  line-height: 60px;
  flex: 1;
  align-items: center;
  text-align: center;
}

.main-bar .links .more-categories a {
  display: flex;
}

.main-bar .links .more-categories a span {
  flex: 2;
  border: none;
}

.main-bar .links .more-categories a img {
  max-width: 1.25rem;
}

.main-bar .links > div {
  height: 100%;
  transition: 0.3s;
  padding: 0 0.625rem;
}

.main-bar .links a {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
}

.main-bar .links > div:hover {
  background-color: #d200c7;
  cursor: pointer;
}

.main-bar .links > div:hover a {
  color: white;
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .main-bar .container {
    width: 100%;
  }

  .main-bar .parts {
    -webkit-clip-path: unset;
            clip-path: unset;
  }
}

.form-error-message {
  color: #e82d44 !important;
  transition: 0.3s;
  grid-column: 2;
}

.featured-posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 0.625rem;
  margin: 0.625rem 0 0.625rem 0;
  padding-bottom: 1.875rem;
  border-bottom: 0.625rem solid #e82d44;
}

.featured-posts-grid a {
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.featured-posts-grid a .image-wrapper {
  overflow: hidden;
}

.featured-posts-grid a img {
  transition: 0.5s;
}

.featured-posts-grid a .description .title {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #8400ff;
}

.featured-posts-grid a .description .text {
  color: #a1aed4;
  font-size: 0.8125rem;
}

.featured-posts-grid a .description .meta {
  text-transform: uppercase;
  color: #5068af;
  font-size: 0.625rem;
  font-weight: 600;
  margin-top: 0.3125rem;
}

.featured-posts-grid a:hover {
  color: #ffffff;
  background-color: #ff00f2;
  text-shadow: unset;
}

.featured-posts-grid a:hover .text {
  color: #ffffff;
}

.featured-posts-grid a:hover img {
  transform: scale(1.05);
}

.featured-posts-grid .left-side a {
  height: 100%;
  background-color: #8400ff;
}

.featured-posts-grid .left-side a .title {
  color: #0f143a;
}

.featured-posts-grid .left-side a .meta {
  color: #252f5a;
}

.featured-posts-grid .left-side a:hover {
  background-color: #ff00f2;
}

.featured-posts-grid .left-side a .image-wrapper {
  align-self: flex-start;
  width: 100%;
}

.featured-posts-grid .left-side a .image-wrapper img {
  width: 100%;
}

.featured-posts-grid .left-side .description {
  padding: 0.625rem;
}

.featured-posts-grid .left-side .description .title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.featured-posts-grid .left-side .description .text {
  font-size: 1.25rem;
  color: #FFFFFF;
}

.featured-posts-grid .left-side .description .meta {
  font-size: 0.75rem;
  margin: 0.625rem 0;
}

.featured-posts-grid .right-side {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
}

.featured-posts-grid .right-side a {
  border-left: 1px solid #252f5a;
}

.featured-posts-grid .right-side a:last-child {
  margin-bottom: 0;
}

.featured-posts-grid .right-side img {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.featured-posts-grid .right-side .description {
  min-width: 190px;
  padding: 0 0.625rem;
  flex: 1;
}

.post .meta {
  display: flex;
  flex-wrap: wrap;
  color: #990091;
}

.post .meta > div {
  flex: 1;
  text-align: center;
  margin: 0 0.625rem;
  border-bottom: 1px solid;
}

.post .description {
  color: #FFFFFF;
  margin-top: 1.25rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  text-align: center;
  background-color: #8400ff;
}

.post .images-block,
.post article {
  margin: 1.25rem 0;
}

.post .images-block.images-block-float {
  float: left;
  margin: 1.25rem;
}

.post .images-block .thumbnail {
  margin-bottom: 0.625rem;
  transition: 0.3s;
}

.post .images-block .thumbnail img {
  margin: 0 auto;
}

.post .images-block .small-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.post .images-block .small-images > a {
  padding: 0 0.625rem;
}

.post article {
  padding-left: 3.125rem;
  border-left: 0.625rem solid #e82d44;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .post article {
    padding-left: 0.625rem;
    border-left: 1px solid #e82d44;
  }

  .post .thumbnail.thumbnail-float {
    margin-left: 0.625rem !important;
  }
}

.related-posts {
  margin: 1.875rem auto;
}

.related-posts h3 {
  margin: 3.125rem 0 1.25rem 0;
}

.categories-list .container {
  display: flex;
  flex-wrap: wrap;
}

.categories-list .card {
  flex: 1;
  color: #0f143a;
  padding: 2.5rem;
  background-color: #a1aed4;
  border-radius: 1.25rem;
  min-width: 200px;
  margin: 1rem;
}

.categories-list .card .subtitle {
  text-transform: uppercase;
  font-weight: 600;
  color: #0f143a;
  transition: 0.3s;
}

.categories-list .card .card-description {
  color: #8400ff;
  transition: 0.3s;
}

.categories-list .card:hover {
  background-color: #ff00f2;
}

.categories-list .card:hover .subtitle,
.categories-list .card:hover .card-description {
  color: #ffffff;
}

.categories-list .page-links {
  width: 100%;
}

.post-media-list .title {
  font-size: 1.875rem;
}

.post-media-list .media {
  margin: 3rem 0;
  transition: 0.3s;
}

.post-media-list .media:hover {
  transform: translateY(-10px);
  box-shadow: 0 37px 29px -34px #37488b;
  border-radius: 1.25rem;
}

.post-media-list .media:hover .description {
  background-color: transparent;
}

.post-media-list .content-block {
  display: flex;
  flex-wrap: wrap;
}

.post-media-list .content-block .content {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  flex: 1;
}

.post-media-list .content-block .content .thumbnail {
  flex: 1;
  align-items: center;
  padding-right: 1rem;
  min-width: 272px;
  overflow: hidden;
  border-bottom-left-radius: 1.25rem;
}

.post-media-list .content-block .content .thumbnail img {
  transition: 0.3s;
  max-width: 100%;
}

.post-media-list .content-block .content .thumbnail:hover img {
  opacity: 0.8;
}

.post-media-list .content-block .content .description {
  flex: 3;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-right: 1rem;
  padding-left: 1rem;
  background: #252f5a;
  background: linear-gradient(90deg, #252f5a 0%, #070b28 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252f5a", endColorstr="#070b28", GradientType=1);
}

.post-media-list .content-block .content .description .meta {
  display: flex;
  flex-wrap: wrap;
  color: #f0ad4e;
  font-size: 0.875rem;
  padding: 0.2083333333rem 0.625rem;
  justify-content: flex-end;
  align-self: flex-end;
}

.post-media-list .content-block .content .description .meta > div {
  margin: 0 0.625rem;
}

.post-media-list .content-block .read-post-button {
  display: flex;
}

.post-media-list .content-block .read-post-button a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}

.post-media-list .content-block .read-post-button a img {
  transition: transform 0.3s;
  width: 1.875rem;
}

.post-media-list .content-block .read-post-button a:hover img {
  transform: rotate(90deg);
}

.post-media-card {
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.post-media-card .media {
  transition: 0.3s;
}

.post-media-card .media:hover {
  transform: translateY(-10px);
}

.post-media-card .media:hover .content {
  box-shadow: 0 37px 29px -34px #37488b;
}

.post-media-card .title {
  color: #f0ad4e;
  font-size: 1.25rem;
  height: 130px;
  overflow: hidden;
}

.post-media-card .title:hover {
  color: #05f3cf;
}

.post-media-card .content {
  margin-bottom: 1.25rem;
  transition: 0.3s;
}

.post-media-card .content .thumbnail {
  align-items: unset;
  padding-right: unset;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: unset;
  width: 100%;
  overflow: hidden;
}

.post-media-card .content .thumbnail img {
  width: 100%;
  transition: 0.3s;
  max-width: 100%;
}

.post-media-card .content .thumbnail:hover img {
  opacity: 0.8;
}

.post-media-card .content .description {
  padding: 1.25rem 0.625rem;
  border-right: 1px solid #f0ad4e;
  border-bottom-right-radius: 1.25rem;
  font-size: 1.0625rem;
  height: 350px;
  overflow: hidden;
  background: #252f5a;
  background: linear-gradient(90deg, #252f5a 0%, #070b28 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252f5a", endColorstr="#070b28", GradientType=1);
}

.post-media-card .content .description > div {
  border-left: 1px solid #f0ad4e;
  padding-left: 0.625rem;
}

.post-media-card .content .description .meta {
  flex-direction: column;
  font-size: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.post-media-card .read-post-button {
  margin-top: 0.625rem;
}

.post-media-card .read-post-button a {
  display: block;
  background-color: #f0ad4e;
}

.post-media-card .read-post-button a:hover {
  background-color: #f3bd72;
}

.post-media-card .read-post-button a:hover img {
  transform: rotate(90deg);
}

.post-media-card .read-post-button a img {
  transition: 0.3s;
  width: 1.875rem;
  margin: 0 auto;
}

.post-media-card .read-post-button a.btn {
  max-width: unset;
}

@media screen and (max-width: 768px) {
  .featured-posts-grid .left-side .description text {
    padding: 0.3125rem;
  }
}

@media screen and (max-width: 768px) {
  .main-bar .logo {
    width: 5.625rem;
    height: 100%;
  }

  .main-bar .links {
    display: grid;
    visibility: hidden;
    padding: 3.125rem 1.25rem 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.625rem;
    position: fixed;
    min-height: 100vh;
    max-width: 90vw;
    grid-auto-rows: 1.875rem;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #070b28;
    transition: 0.3s;
    line-height: 1.4;
    color: transparent;
    -webkit-animation: slide-right-back 0.3s forwards;
            animation: slide-right-back 0.3s forwards;
  }

  .main-bar .links.open {
    visibility: unset;
    color: unset;
    -webkit-animation: slide-right 0.3s forwards;
            animation: slide-right 0.3s forwards;
  }

  .main-bar .links > * {
    width: 100%;
    padding: 0 0.625rem;
  }

  .main-bar .links > div:hover {
    background-color: unset;
  }

  .main-bar .links .more-categories {
    display: flex;
    justify-content: center;
  }

@-webkit-keyframes slide-right {
    from {
      -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
              clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
    }

    to {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
              clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@keyframes slide-right {
    from {
      -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
              clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
    }

    to {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
              clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@-webkit-keyframes slide-right-back {
    from {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
              clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }

    to {
      -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
              clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
    }
}

@keyframes slide-right-back {
    from {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
              clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }

    to {
      -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
              clip-path: polygon(100% 100%, 100% 100%, 100% 0, 100% 0);
    }
}

  .main-bar .mobile-menu-button {
    display: block;
    width: 5rem;
    height: auto;
    cursor: pointer;
  }

  .main-bar .close-mobile-menu {
    display: block;
    width: 3.4375rem;
    position: absolute;
    top: 7px;
    right: 12px;
  }

  .top-bar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .post .title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .post-media-list .content-block .read-post-button {
    display: block;
    width: 100%;
    margin-top: 0.625rem;
  }

  .post-media-list .content-block .read-post-button .btn {
    max-width: unset;
  }

  .post-media-list .content-block .content .thumbnail img {
    width: 100%;
  }
}


/*# sourceMappingURL=app.css.map*/