.hide {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.folded {
    position: relative;
    z-index: 2;
    height: 280px;
    overflow-y: hidden;
    box-shadow: 0 20px 20px -8px #a0a0a0;
    border-radius: 5px;
}


.folded * {
    opacity: .4;
    z-index: 1;

}

.folded::before {
    content: 'Развернуть';
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border: 1px solid #009100;
    border-radius: 5px;
    background-color: #00a700;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 20px 8px #3a3a3a;
}

form#user-form {
    padding: 20px;
    color: hsla(0, 0%, 30%, 1);
}

form#user-form input, form#user-form select, form#user-form textarea {
    flex: 2;
    font-size: 1.3em;
    padding: 10px;
    border: 1px solid hsla(0, 0%, 80%, 1);
    min-width: 180px;
    max-width: 350px;
    color: hsla(0, 0%, 30%, 1);
}

form#user-form input[type=checkbox] {
    min-width: unset;
}

form#user-form .required::before {
    content: "*";
    position: absolute;
    font-size: .7em;
    color: red;
    left: -13px;
    top: 3px;
}


form#user-form label {
    flex: 1;
    position: relative;
    min-width: 180px;
    max-width: 250px;
    margin: 5px;
    font-size: 1.1em;
}

form#user-form .checkbox-fields {
    font-size: 10px;
}

form#user-form .checkbox-fields input[type=checkbox] {
    width: 16px;
    height: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
}


.row:hover {
    background-color: hsla(0, 0%, 90%, 1);
}

.column {
    display: flex;
    flex-direction: column;
}


.floor {
    background-color: #f7f7f7;
    max-width: 1366px;
    margin: 0 auto;
    min-height: 50%;
}

.floor h2, .floor h3, .floor h4 {
    padding: 10px 20px 0 20px;
}

.btn-btn {
    border-radius: 3px !important;
    padding: 10px 20px !important;
    color: #e5e5e5 !important;
    box-shadow: 0 4px 8px -2px hsl(0, 0%, 52%) !important;
}

.btn-green {
    background-color: #00a700 !important;
    border: 1px solid #009000 !important;
}

.btn-grey {
    background-color: grey !important;
    border: 1px solid #6a6a6a !important;
}

.btn-red {
    background-color: red !important;
}

.m20 {
    margin: 20px;
}

.m40 {
    margin: 40px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 20px;
}

.mtb40 {
    margin: 40px 0 40px 0;
}

.p20 {
    padding: 20px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


.delimiter {
    margin: 20px;
    border-bottom: 1px solid #b0b0b0;
}

#apartment-number-checkbox-label {
    font-style: italic;
    color: blue;
}

#loader {
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
    padding-bottom: 0;
}

#loginBlock {
    padding: 20px;
}

#loginBlock div {
    flex: 0;
    margin: 0 10px;
    max-width: 50%;
}

#loginBtn {
    font-weight: 700;
}

#loginBtn:hover {
    cursor: pointer;
    background-color: #00a700;
}


#addMore {
    flex: 2;
    max-height: 50px;
    font-size: 1.3em;
    min-width: 180px;
    max-width: 350px;
    color: #4d4d4d;
    padding: 5px 0;
}


.tech-select {
    display: flex;
    padding: 0 10px;
}

.tech-select input[type=checkbox] {
    width: 16px;
    height: 16px;
}

#returnedData {
    padding: 20px;
}

#phoneNumRes {
    flex: 2;
    min-width: 180px;
    max-width: 350px;
    color: #4d4d4d;
}

.infoBlock {
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.infoBlockGrey {
    background-color: grey;
    color: #f0f0f0;
}

.infoBlockGreen {
    background-color: green;
}

.infoBlockRed {
    background-color: #900;
}

.infoBlockYellow {
    background-color: #d6d600;
    color: #373737;
}

.nonMaxWidth {
    max-width: unset !important;
}